@import "../variables";
.categories {
    ul {
        display: flex;
        @media (max-width: 1300px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        @media (max-width: 950px) {
            flex-wrap: wrap;
            margin-bottom: 10px;
            gap: 10px;
        }
        li {
            background-color: #f9f9f9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;
            @include noselect();
            &:hover {
                background-color: darken(#f9f9f9, 2%);
            }
            &:active {
                background-color: darken(#f9f9f9, 5%);
            }
            &.active {
                background-color: #282828;
                color: #fff;
            }
            @media (max-width: 950px) {
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 48%;
                margin: 0;
            }
            @media (max-width: 425px) {
                width: 100%;
            }
        }
    }
}